* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6398fa;
  color: #fff;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

#container {
  margin: 30px auto;
  max-width: 700px;
  padding: 20px;
}

.container {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
}
.form-wrap {
  background: #fff;
  padding: 15px 25px;
  color: #333;
}

.form-wrap h1 {
  text-align: center;
}

.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #665;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 2px solid;
  border-radius: 5px;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  border-radius: 5px;
}

.form-wrap button {
  display: block;
  width: 100%;
  background: a#49c1a2;
  color: white;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.form-wrap button:hover {
  background: #37a08e;
}

.form-wrap .bottom-text {
  font-size: 13px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: #ffffff;
}
